@import "tailwindcss";

body {
    background: rgb(1, 49, 65);
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate-slide-in {
    animation: slide-in 0.5s ease-out forwards;
}
